{% extends 'base.html' %}
{% load static %}
{% block title %} Обо мне {% endblock  %}
{% block header-text %}Обо мне{% endblock  %}
        
{% block content %}
<!-- About Start -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class='about-page'>
				<div class="profile">
					<img class="profile-img" src="{% static 'img/me.jpg' %}" alt="Image">
					<p class="name">Бекчурин  <br/>Игорь</h1>
					<h4 class="job">Web Developer</h4>
					<h5 class="profile-title">Профиль</h5>
					<hr>
					<p class="about-text">Организован, обладаю неплохими знаниями в Python фреймворках и среде разработки. Люблю учиться, не сидеть на одном месте, двигаться вперед и развиваться.</p>
				</div>

				<div class="experience">
					<h1>Опыт работы</h1>
					<br>
					<div class="d-flex flex-row ">
						<div class="col">
							<h5 class="card-title">2022 - н.в.</h5>
							<p>ООО "Орион"</p>
						</div>
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">Специалист по цифровизации</h5>
								<ul>
									<li>Цифровизация документооборота;</li>
									<li>Аналитика данных, построение дашбордов в BI-системах;</li>
									<li>Цифровизация сельского хозяйства. Создание электронных карт полей и их обработка в режиме автопилота. Внедрение системы Cropwise Operations;</li>
									<li>Цифровизация лесного хозяйства. Оцифровка лесных кварталов. Подеревная таксация лесного массива с помощью дронов для полного понимания качества заготавливаемого материала; </li>
									<li>Цифровизация производственного потока при производстве фанерных изделий. Внедрение SCADA системы на предприятии.</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="d-flex flex-row">
						<div class="col">
							<h5 class="card-title">2018 - 2020</h5>
							<p>ООО "ИРЗ-Локомотив"</p>
						</div>
						<div class="col">
							<div class="card-body">
								<h5 class="card-title">Техник-конструктор 1 кат.</h5>
								<ul>
									<li>Разработка и сопровождение производства блоков управления для железнодорожных систем;</li>
									<li>Разработка электрических схем, перечней;</li>
									<li>Разработка текстовой КД (инструкций, технических условий, методик проверки и настройки изделия);</li>
									<li>Отладка и настройка опытных образцов приборов;</li>
									<li>Участие в испытаниях приборов;</li>
									<li>Ведение переписки по техническим вопросам.</li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<div class="skills">
					<h1>Стек технологий</h1>
					<br>
					<div class="">
						<ul>
							<li>
								<h4>Backend</h4>
								<p class="m-0">
									Django/Django Rest Framework
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
									  70%
								    </div>
							  	</div>
								<p class="m-0">
									FastAPI
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
									  60%
								    </div>
							  	</div>
							</li>
							<li>
								<h4>Frontend</h4>
								<p class="m-0">
									HTML/CSS
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
									  80%
								    </div>
							  	</div>
								<p class="m-0">
									Bootstrap/TailWindCSS
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
									  70%
								    </div>
							  	</div>
							</li>
							<li>
								<h4>Databases:</h4>
								<p class="m-0">
									SQL(PostgreSQL)
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
									  50%
								    </div>
							  	</div>
							</li>
							<li>
								<h4>Tools:</h4>
								<p class="m-0">
									GitHub/Docker
								</p>
								<div class="progress w-100 mb-2">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
									  60%
								    </div>
							  	</div>
							</li>
							<li>
								<h4>Learning</h4>
								<p class="m-0">Redis/Celery/RabbitMQ</p>
								<p class="m-0">JS/Vue.js</p>
							</li>
						</ul>
					</div>
				</div>

				<div class="education">
					<h1>Образование</h1>
					<br>
					<ul style="list-style: none;">
						<li class="m-2">
							<h4>2022 - н.в.</h4>
							<p class="m-2" style="color: black">Курсы: SoloLearn, Нетология, Stepik, YouTube</p>
							<ul>
								<li>Python 3 Tutorial course. Программирование на Python. Обучающий курс Python от Сергея Балакирева.Объектно-ориентированное программирование на Python</li>
								<li>WEB Парсинг на Python. Автоматизация тестирования с помощью Selenium и Python.</li>
								<li>Django 3. Django 3 для python.</li>
								<li>Курс Django Rest Framework. Уроки по Django REST Framework</li>
							</ul>
						</li>

						<li class="m-2">
							<h4>2019 - 2020</h4>
							<p class="m-2" style="color: black">Магистратура: Ижевский государственный технический университет имени М.Т. Калашникова</p>
							<p class="m-2">Специальность: Информационно-измерительные системы.(неоконченное)</p>
						</li>

						<li class="m-2">
							<h4>2019 - 2020</h4>
							<p class="m-2" style="color: black">Курсы: Ижевский государственный технический университет имени М.Т. Калашникова</p>
							<p class="m-2">Специальность: "Oxford Online Skills Program B2 Academic Bundle", "English language for academic mobility: preparing for scientific and educational exchange programmes"</p>
						</li>

						<li class="m-2">
							<h4>2015 - 2019</h4>
							<p class="m-2" style="color: black">Бакалавр: Ижевский государственный технический университет имени М.Т. Калашникова</p>
							<p class="m-2">Специальность: Радиотехника.</p>
						</li>
					</ul>
				</div>

				<div class="hobbies">
					<h1>Увлечения</h1>
					<br>
					<div class="row-hobby">
						<div class="col-md-4 card-hobby">
							<i class="fa fa-3x fa-graduation-cap mb-2 text-primary" aria-hidden="true"></i>
							<p>Спорт</p>
						</div>
						<div class="col-md-4 card-hobby">
							<i class="fa fa-3x fa-plane mb-2 text-primary" aria-hidden="true"></i>
							<p>Путешествия</p>
						</div>
						<div class="col-md-4 card-hobby">
							<i class="fa fa-3x fa-music mb-2 text-primary" aria-hidden="true"></i>
							<p>Музыка</p>
						</div>

						<div class="col-md-4 card-hobby">
							<i class="fa fa-3x fa-graduation-cap mb-2 text-primary" aria-hidden="true"></i>
							<p>Самобразование</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About End -->
{% endblock %}